.texto_inicio{
	text-align: center;
	font-size: 40px;
	margin-top: 3%;
}

.flexed{
	display: flex;
	justify-content: center;
}

#primarios{
	margin-top: 4%;
}

.header_table{
	font-size: 20px;
	padding: 1%;
	background-color: #00d0ff;

}

.class_check{
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-info{
	font-size: 30px;
}
.clase_tabla{

}